@import "../../../config/variables";


.content {
  width: 550px;
  height: 325px;
  text-align: center;
  
}
.slider {
  text-align: center;
  margin-left: 62%;
  margin-bottom: 30px;

}

h3{
  text-align: center;
  padding-top: 20px;
}

div.slider-control-centerleft {
  top: 87.6%;
}

div.slider-control-centerright {
  top: 87.6%;
}